<form  >
    <div class="bd-example">
        <div class="form-floating mb-3">
            <input name="nombre" type="text" [(ngModel)]="item.nombre" class="form-control" id="nombreInput" placeholder="nombre">
            <label for="nombreInput">NOMBRE DE USUARIO</label>
        </div>
        <div class="form-floating mb-3">
            <input name="direccion" type="text" [(ngModel)]="item.direccion" class="form-control" id="direccionInput" placeholder="direccion">
            <label for="direccionInput">DIRECCION</label>
        </div>
        <div class="form-floating mb-3">
            <input name="celular" type="text" [(ngModel)]="item.celular" class="form-control" id="celularInput" placeholder="celular">
            <label for="celularInput">CELULAR</label>
        </div>
        <div class="form-floating mb-3">
            <input name="ci" type="text" [(ngModel)]="item.ci" class="form-control" id="ciInput" placeholder="ci">
            <label for="ciInput">CEDULA</label>
        </div>
    </div>
    <button type="button" (click)="salir()" class="btn btn-warning">Cancelar</button>
    <button type="button" (click)="enviar()" class="btn btn-success">Guardar</button>

</form>
